.main-list-div{
  max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.collspse-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.action-button-list{
  gap: 10px;
  display: flex;
  padding: 2px 5px;
}