.sidenav {
    /* height: 95vh; */
    max-height: fit-content;
    width: 220px;
    background-color: #003478;
    transition: 0.5s;
    padding: 20px 0;
    left: 0;
    
}


  
.sidenav.closed {
    width: 60px;
    padding: 30px 20px 0 0;
    /* transform: translateX(-70%); */

}

.ant-menu-item {
    /* z-index: 1; */
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.ant-menu-item:hover {
    color: #003478;
    background-color: #fff;
}

.ant-menu-item:focus, .ant-menu-item:active, .ant-menu-item.active{
    background-color: #fff;
    color: #003478;
}

/* .menu-items > .ant-menu-item:last-child {
    color: green;
    position: relative;
    bottom: 0px;
    background-color: white;
} */



